# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/

# Logs
logs
*.log
*.log.*

# Env files
.env
.env.local
.env.*.local

# Editor config
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# React (Vite)
client/dist/
client/node_modules/

# Build cache
**/.cache/
**/.next/
**/coverage/

# Backend (Express)
server/node_modules/
server/logs/
server/coverage/

# TypeScript
*.tsbuildinfo

# Optional: Ignore MongoDB dump files if any
dump/
